/link80/originals/html/*    binary
/mac80/originals/mac.txt    text eol=crlf
/cpm22/originals/html/*     binary
/cpm22/originals/ps/*       binary
/cpm22/originals/tex/*      binary
/cpm30/originals/*.ps       text eol=crlf
/pascal/originals/*.ps      binary
/pli80/originals/pl1lrm/*   text eol=crlf
/sid/originals/*.txt        text eol=crlf
/sid/originals/*.TXT        text eol=crlf
/cpm13/load.plm             text eol=crlf
/cpm13/dump.asm             text eol=crlf

